# dependency files
*.d

# bin/lib output dirs
bin/
lib/

# compiled object files
*.a
*.o
*.so

# ctags
tags

# build system artifacts
src/version.hpp
benchmark/benchmark-runner
test/test-runner

# project executables
src/lsusb2/lsusb2
src/led-ctl/led-ctl
